.header {
  padding: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #f4f0ea;

  .backgroundComponent {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    left: 0;
    top: 100%
  }

  .bar {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    a {
      position: absolute;
      text-decoration: none;
      color: black;
    }

    p {
      margin: 0;
    }

    .el {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;

      .label {
        position: relative;
        display: flex;
        align-items: center;
      }

      p {
        &:nth-of-type(2) {
          position: absolute;
          opacity: 0;
        }
      }

      .burger {
        width: 22.5px;

        &::after,
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: black;
          position: relative;
          transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
        }
        &::after {
          top: -4px;
        }
        &::before {
          top: 4px;
        }
      }

      .burgerActive {
        &::after {
          top: -1px;
          transform: rotate(45deg);
        }
        &::before {
          top: 1px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .header {
    padding: 20px;

    .bar {
      font-size: 16px;
    }
  }
}
