.footer {
    display: flex;
    font-size: 14px;
    margin-top: 40px;
    flex-wrap: wrap;
    align-items: flex-end;
    text-transform: uppercase;

    ul {
        list-style-type: none;
        padding: 0;
        width: 50%;
    }

    li {
        span {
            color: #9f9689;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .footer {
        justify-content: space-between;

        ul {
            width: auto;
        }
    }
}